div.registration{
  position: relative;
  width: 30%;
  height: 85%;
  top: 0%;
  left: 35%;
  color: white;
  text-align: center;
  font-size: 100%;
  font-size: 1vw;
}

form.registration{
  height: 100%;
  background-color: white;
  border-radius: 2%;
  margin-bottom: 5%;
  color: black;
  padding-top: 2%;
}

input{
  width: 70%;
  height: 8%;
  margin: 0 0 3% 0;
  padding: 0 1% 0 1%;
  font-size: 15px;
  font-weight: 700;
}

input.checkbox{
  height: 3%;
  width: 5%;
  margin-top: 3%;
}
